name: GitHub Pages

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read
  id-token: write
  pages: write

concurrency:
  cancel-in-progress: false
  group: pages

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/configure-pages@v5
      - uses: go-task/setup-task@v1

      - run: task install-dependencies
      - run: task fetch-openapi-specification
      - run: task build

      - uses: actions/upload-pages-artifact@v3
        with:
          path: .vitepress/dist

      - id: deployment
        uses: actions/deploy-pages@v4
